In [1]:
import numpy as np
import pandas as pd

dates = pd.date_range('10/10/2018', periods=11, freq='D')
close_prices = np.arange(len(dates))

close = pd.Series(close_prices, dates)
close

2018-10-10     0
2018-10-11     1
2018-10-12     2
2018-10-13     3
2018-10-14     4
2018-10-15     5
2018-10-16     6
2018-10-17     7
2018-10-18     8
2018-10-19     9
2018-10-20    10
Freq: D, dtype: int32

In [2]:
close.resample('3D')

In [3]:
close.resample('3D').first()

2018-10-10    0
2018-10-13    3
2018-10-16    6
2018-10-19    9
Freq: 3D, dtype: int32

In [4]:
try:
    # Attempt resample on a series without a time index
    pd.Series(close_prices).resample('W')
except TypeError:
    print('It threw a TypeError.')
else:
    print('It worked.')

It threw a TypeError.

In [5]:
pd.DataFrame({
    'days': close,
    'weeks': close.resample('W').first()})

            days  weeks
2018-10-10   0.0    NaN
2018-10-11   1.0    NaN
2018-10-12   2.0    NaN
2018-10-13   3.0    NaN
2018-10-14   4.0    0.0
2018-10-15   5.0    NaN
2018-10-16   6.0    NaN
2018-10-17   7.0    NaN
2018-10-18   8.0    NaN
2018-10-19   9.0    NaN
2018-10-20  10.0    NaN
2018-10-21   NaN    5.0